<div class="container">
  <p class="h3 p-3">{{ mascotaDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ mascotaDetail.imagen }}"
          alt="{{ mascotaDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Descripcion</dt>
        <dd>{{ mascotaDetail.descripcion }}</dd>
        <hr />
        <dt>Raza</dt>
        <dd>{{ mascotaDetail.especie }}</dd>
        <hr />
        <dt>Edad</dt>
        <dd>{{ mascotaDetail.edadMeses }}</dd>
        <hr />
        <dt class="bold">Vacunas</dt>
        <dd>{{ mascotaDetail.vacunas }}</dd>
        
      </dl>
    </div>
  </div>
</div>
